extends layout2

block vars
	- var title='Admin Home Sweet Home - Liste des articles'

block content
	
	h1 Administration des articles
	a.btn.btn-primary(role='button' href="/admin/create-article") Ajouter un article

	h2 Réalisations
	table.table.text-center.table-striped
		thead
			tr
				th.text-center #
				th.text-center name 
				th.text-center description
				th.text-center image
				th.text-center(colspan="2") action
		tbody
		each article in articles
				tr
					td= article.idarticle
					td= article.title
					td!= article.text  
					td 
						img(src="/img/" + article.thumbnailName height="50")
					td
						a.btn.btn-primary(role='button' href="/admin/edit-article/" + article.idarticle) Modifier
					td 
						a.btn.btn-warning(role='button' href="/admin/delete-article/" + article.idarticle onclick="return confirm('Etes-vous certain de vouloir supprimer cet article?');" ) Supprimer
						
	h2 Articles de presse
	table.table.text-center.table-striped
		thead
			tr
				th.text-center #
				th.text-center name 
				th.text-center description
				th.text-center image
				th.text-center(colspan="2") action
		tbody
		each article in press
				tr
					td= article.idarticle
					td= article.title
					td!= article.text  
					td 
						img(src="/img/" + article.thumbnailName height="50")
					td
						a.btn.btn-primary(role='button' href="/admin/edit-article/" + article.idarticle) Modifier
					td 
						a.btn.btn-warning(role='button' href="/admin/delete-article/" + article.idarticle onclick="return confirm('Etes-vous certain de vouloir supprimer cet article?');" ) Supprimer
						
