extends layout
block content
  
  main
    .container-fluid
        .row
          .col-xs-12.col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-3.text-center
            h2.realtitle Nos Réalisations
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus felis diam, vulputate in risus eu, porttitor condimentum purus. Phasellus ullamcorper, odio id feugiat bibendum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus felis diam, vulputate in risus eu, porttitor condimentum purus. Phasellus ullamcorper, odio id feugiat bibendum.
  section#portfolio.bg-light-gray
    .container
      .row
        .col-md-4.col-sm-6.portfolio-item
          a.portfolio-link(href='#portfolioModal1', data-toggle='modal')
            .portfolio-hover
              .portfolio-hover-content
                i.fa.fa-plus.fa-3x
            img.img-responsive(src='https://unsplash.imgix.net/uploads%2F1411419068566071cef10%2F7562527b?q=75&w=1080&h=1080&fit=max&fm=jpg&auto=format&s=240c45655f09c546232a6f106688e502', alt='')
          .portfolio-caption
            h4= article.title
            p.text-muted loremn
        .col-md-4.col-sm-6.portfolio-item
          a.portfolio-link(href='#portfolioModal2', data-toggle='modal')
            .portfolio-hover
              .portfolio-hover-content
                i.fa.fa-plus.fa-3x
            img.img-responsive(src='https://unsplash.imgix.net/44/9s1lvXLlSbCX5l3ZaYWP_hdr-1.jpg?q=75&w=1080&h=1080&fit=max&fm=jpg&auto=format&s=f0a1db79752dbb04ec6d2aab7d17c7b0', alt='')
          .portfolio-caption
            h4= article.title
            p.text-muted loremn
        .col-md-4.col-sm-6.portfolio-item
          a.portfolio-link(href='#portfolioModal3', data-toggle='modal')
            .portfolio-hover
              .portfolio-hover-content
                i.fa.fa-plus.fa-3x
            img.img-responsive(src='https://unsplash.imgix.net/46/Ov6ZY1zLTWmhPC0wFysP_IMG_2896_edt.jpg?q=75&w=1080&h=1080&fit=max&fm=jpg&auto=format&s=6518e4df89659818f6c0392175a9c5e6', alt='')
          .portfolio-caption
            h4= article.title
            p.text-muted lorem
        .col-md-4.col-sm-6.portfolio-item
          a.portfolio-link(href='#portfolioModal4', data-toggle='modal')
            .portfolio-hover
              .portfolio-hover-content
                i.fa.fa-plus.fa-3x
            img.img-responsive(src='https://unsplash.imgix.net/44/9s1lvXLlSbCX5l3ZaYWP_hdr-1.jpg?q=75&w=1080&h=1080&fit=max&fm=jpg&auto=format&s=f0a1db79752dbb04ec6d2aab7d17c7b0', alt='')
          .portfolio-caption
            h4= article.title
            p.text-muted lorem
        .col-md-4.col-sm-6.portfolio-item
          a.portfolio-link(href='#portfolioModal5', data-toggle='modal')
            .portfolio-hover
              .portfolio-hover-content
                i.fa.fa-plus.fa-3x
            img.img-responsive(src='https://unsplash.imgix.net/46/Ov6ZY1zLTWmhPC0wFysP_IMG_2896_edt.jpg?q=75&w=1080&h=1080&fit=max&fm=jpg&auto=format&s=6518e4df89659818f6c0392175a9c5e6', alt='')
          .portfolio-caption
            h4= article.title
            p.text-muted lorem
        .col-md-4.col-sm-6.portfolio-item
          a.portfolio-link(href='#portfolioModal6', data-toggle='modal')
            .portfolio-hover
              .portfolio-hover-content
                i.fa.fa-plus.fa-3x
            img.img-responsive(src='https://unsplash.imgix.net/uploads%2F1411419068566071cef10%2F7562527b?q=75&w=1080&h=1080&fit=max&fm=jpg&auto=format&s=240c45655f09c546232a6f106688e502', alt='')
          .portfolio-caption
            h4= article.title
            p.text-muted lorem

